/home/paribe/gcp_api_pub_sub_function_bigquery/.venv
/home/paribe/gcp_api_pub_sub_function_bigquery/tests
/home/paribe/gcp_api_pub_sub_function_bigquery/poetry.lock
/home/paribe/gcp_api_pub_sub_function_bigquery/pyproject.toml